.swiper {
    width: 100%;
    height: 270px;
    z-index: 1;
  }
 
.swiper-button-prev, 
 .swiper-button-next{
    display: none !important;
 }
 
 
 @media screen and (min-width:1024px){
  .swiper-button-prev, 
  .swiper-button-next{
    display: block !important;
  }
}
